---
type Fish = {
  name: string;
  size: string;
};

import "../styles/main.css";

import _dataCantabrico from "../data/cantabrico_noroeste_cadiz.json";
import _dataMediterraneo from "../data/mediterraneo.json";
import _dataCanarias from "../data/canarias.json";
const fishesCantabrico: Fish[] = _dataCantabrico;
const fishesMediterraneo: Fish[] = _dataMediterraneo;
const fishesCanarias: Fish[] = _dataCanarias;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Fishing</title>
  </head>
  <body>
    <header class="header">
      <div class="header--container">
        <h1 class="header--title">Fishing</h1>
      </div>
    </header>
    <nav class="tabs">
      <ul class="tabs--container">
        <li class="tab active" data-value="cantabricoycadiz">
          Cantábrico y Cádiz
        </li>
        <li class="tab" data-value="mediterraneo">Mediterráneo</li>
        <li class="tab" data-value="canarias">Canarias</li>
      </ul>
    </nav>
    <div class="search">
      <div class="search--container">
        <input
          class="search--input"
          type="search"
          name="search"
          id="search"
          placeholder="Buscar"
        />
      </div>
    </div>
    <main class="main container">
      <div id="cantabricoycadiz" class="fishes active">
        <h2 class="fishes--title">
          Tallas mínimas autorizadas para los caladeros del Cantábrico y
          noroeste y del golfo de Cádiz
        </h2>
        {
          fishesCantabrico.map((fish) => {
            return (
              <div class="fish">
                <h2 class="fish--name">{fish.name}</h2>
                <p class="fish--size">{fish.size}</p>
              </div>
            );
          })
        }
      </div>
      <div id="mediterraneo" class="fishes">
        <h2 class="fishes--title">
          Tallas mínimas autorizadas para el caladero mediterráneo
        </h2>
        {
          fishesMediterraneo.map((fish) => {
            return (
              <div class="fish">
                <h2 class="fish--name">{fish.name}</h2>
                <p class="fish--size">{fish.size}</p>
              </div>
            );
          })
        }
      </div>
      <div id="canarias" class="fishes">
        <h2 class="fishes--title">
          Tallas mínimas autorizadas para el caladero canario
        </h2>
        {
          fishesCanarias.map((fish) => {
            return (
              <div class="fish">
                <h2 class="fish--name">{fish.name}</h2>
                <p class="fish--size">{fish.size}</p>
              </div>
            );
          })
        }
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p>(*) Talla por determinar.</p>
        <p>
          (**) Excepto en la división IX, a), en la que la talla mínima es de 10
          centímetros.
        </p>
        <p>
          (***) Excepto en las divisiones 8a y 8b del Consejo Internacional para
          la Exploración del Mar, tanto para la pesca profesional como para la
          pesca recreativa, en las que la talla mínima es de 44 centímetros.
        </p>
      </div>
    </footer>
  </body>
</html>
<script>
  const search = document.getElementById("search") as HTMLInputElement;

  search!.addEventListener("input", () => {
    searchFish(search.value);
  });

  function searchFish(text: string) {
    const fishes = document.querySelectorAll(`.fish`);
    fishes.forEach((fish) => {
      fish.classList.remove("hidden");
      if (
        !fish.children[0].innerHTML.toLowerCase().includes(text.toLowerCase())
      ) {
        fish.classList.add("hidden");
      }
    });
  }

  const tabs = document.querySelectorAll(".tab");
  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      document.querySelector(".tab.active")?.classList.remove("active");
      tab.classList.add("active");

      const fishesId = tab.getAttribute("data-value") as string;
      document.querySelector(".fishes.active")?.classList.remove("active");
      document.getElementById(fishesId)?.classList.add("active");

      searchFish(search.value);
    });
  });
</script>
